<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} 42cctest</title>

        {% block css %}
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css" type="text/css" media="all" /> 
        {% endblock %}
        {% block scripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
        <script src="http://yandex.st/jquery/form/2.67/jquery.form.min.js" type="text/javascript"></script>
        {% block extrascripts %}
        {% endblock %}
        {% endblock %}
    </head>
    <body>
        <h1>{%block page_title %}{%endblock %}</h1>
        {% block content %}
        {% endblock %}
        <footer>
        </footer>
    </body>
</html>

