{% extends "base.html" %}
{% load static %}

{% block extrascripts %}
<script type="text/javascript" src="{% get_static_prefix %}js/editpage.js"></script>
{% endblock %}
{% block content %}

{# TODO: move out #}
<style>
    div { padding-bottom : 10px }
    .person { float: left; width: 50%}
    .status { text-align: center; font-size: 20pt }
    .loading { text-align: center; display: none; }
</style>

<form class="contact_edit" action="/contact_edit" method="POST">
<div class="status"></div>
<div class="loading">
    <img src="{% get_static_prefix %}/img/loading.gif" alt="loading" />
</div>

{# use form, maby? #}
<div class="vcard">
    {% csrf_token %}

    <div class="person">
        {{form.as_p}}
    </div>

    <div class="contacts">
        {% for form in contact %}
            {{form.errors.value}}
            <label>{{form.typ.value}}:</label>
            {{form.value}}
            <br/>
            <input type="hidden" name="{{form.prefix}}-person" value="{{form.person.value}}"/>
            <input type="hidden" name="{{form.prefix}}-typ" value="{{form.typ.value}}"/>
            <input type="hidden" name="{{form.prefix}}-id" value="{{form.id.value}}"/>

        {% endfor %}
        {{ contact.management_form }}

        <input type="hidden" name="person" value="{{ other.person.value }}"/>
        <label>other:</label> {{ other.value }}
    </div>
</div>
<div style="clear:both"/>
<input type=submit value="Save" />

{% endblock %}
