{% extends "base.html" %}
{% block content %}

{# TODO: move out #}
<style>
    div { padding-bottom : 10px }
    .person { float: left; width: 50%}
</style>

<form action="/contact_edit" method="POST">

{# use form, maby? #}
<div class="vcard">
    {% csrf_token %}

    <div class="person">
        {{form.as_p}}
    </div>

    <div class="contacts">
        {% for form in contact %}
            {{form.errors.value}}
            <label>{{form.typ.value}}:</label>
            {{form.value}}
            <br/>
            <input type="hidden" name="{{form.prefix}}-person" value="{{form.person.value}}"/>
            <input type="hidden" name="{{form.prefix}}-typ" value="{{form.typ.value}}"/>
            <input type="hidden" name="{{form.prefix}}-id" value="{{form.id.value}}"/>

        {% endfor %}
        {{ contact.management_form }}

        <input type="hidden" name="person" value="{{ other.person.value }}"/>
        <label>other:</label> {{ other.value }}
    </div>
</div>
<div style="clear:both"/>
<input type=submit value="Save" />

{% endblock %}
