{% extends "base.html" %}
{% load static %}

{% block extrascripts %}
<script type="text/javascript" src="{% get_static_prefix %}js/editpage.js"></script>
{% endblock %}

{% block content %}


<form class='contact_edit' action="/contact_edit" method="POST">

{# use form, maby? #}
<div class="vcard">
    {% csrf_token %}

    <div class="person">

        <div class="first_name">
            {{ form.first_name.errors }}
            {{form.first_name}}
        </div>
        <div class="last_name">
            {{form.last_name.errors}}
            {{form.last_name}}
        </div>

        <div class="birh_date">
            {{form.birth_date.errors}}
            {{form.birth_date}}
        </div>
        <label>bio</label>:
        <div class="bio">
            {{form.bio.errors}}
            {{form.bio}}
        </div>
    </div>

    <div class="contacts">
        {% for typ,contact in form.contact_fields %}
            <div class="contact contact-{{typ}}">
                <label>{{typ}}</label>
                {{contact.errors}}
                {{contact}}
            </div>
        {% endfor %}

    </div>
</div>
<div style="clear:both"/>
<input type=submit value="Save" />

{% endblock %}
